:root {
	--mocha-bw_1		:#11111b;
	--mocha-bw_2		:#181825;
	--mocha-bw_3		:#1e1e2e;
	--mocha-bw_4		:#313244;
	--mocha-bw_5		:#45475a;
	--mocha-bw_6		:#585b70;
	--mocha-bw_7		:#6c7086;
	--mocha-bw_8		:#7f849c;
	--mocha-bw_9 		:#9399b2;
	--mocha-bw_10		:#a6adc8;
	--mocha-bw_11 		:#bac2de;
	--mocha-bw_12 		:#cdd6f4;

	--mocha-lavender 	:#b4befe;
	--mocha-blue 		:#89b4fa;
	--mocha-saphire 	:#74c7ec;
	--mocha-sky 		:#89dceb;
	--mocha-teal 		:#94e2d5;
	--mocha-green 		:#a6e3a1;
	--mocha-yellow 		:#f9e2af;
	--mocha-peach 		:#fab387;
	--mocha-maroon 		:#eba0ac;
	--mocha-red		:#f38ba8;
	--mocha-mauve 		:#cba6f7;
	--mocha-pink 		:#f5c2e7;
	--mocha-flamingo	:#f2cdcd;
	--mocha-rosewater	:#f5e0dc;
}
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

@font-face {
	font-family: "Fira";
	src: url("/FiraCode/Fira\ Code\ Bold\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Fira";
	src: url("/FiraCode/Fira\ Code\ Regular\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: var(--mocha-bw_1);
	color: var(--mocha-bw_12);
	font-family: "Fira";
	font-weight: normal;
}

h1 {
	font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
	font-size: 1.88em; /* 30px/16=1.88em */
}

h3 {
	font-size: 1.56em; /* 25px/16 = 1.56em */
}

h4 {
	font-size: 1.38em; /* 22px/16 = 1.38em */
}

h5 {
	font-size: 1.25em; /* 20/16 = 1.25em */
}

h6 {
	font-size: 1.13em; /* 18px/16 = 1.13em */
}

p {
	font-size: 1em; /* 16px/16 = 1em */
	font-family: "Fira Sans";
	color: var(--mocha-bw_12);
}
a:link {
	color: var(--mocha-green);
	text-decoration: none;
}

a:visited {
	color: var(--mocha-green);
	text-decoration: none;
}
a:hover {
	color: var(--mocha-maroon);
	text-decoration: none;
}

.topnav a {
	padding: 0.25em 0.3em;
	border-radius: 0.15em;
	font-weight: bold;
	font-size: 1.25em; /* 20px/16 = 1.25em */
	color: var(--mocha-bw_1);
	background-color: var(--mocha-bw_12);
}

.topnav a.active {
	color: var(--mocha-bw_1);
	background-color: var(--mocha-mauve);
}

.topnav a:hover {
	color: var(--mocha-bw_1);
	background-color: var(--mocha-green);
}
