/*Fonts*/
@font-face {
	font-family: "Fira";
	src: url("FiraCode/Fira\ Code\ Bold\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Fira";
	src: url("FiraCode/Fira\ Code\ Regular\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "JetBrainsMono Regular";
	src: url("JetBrains/JetBrainsMonoNerdFont-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono ExtraBold";
	src: url("JetBrains/JetBrainsMonoNerdFont-ExtraBold.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono Bold";
	src: url("JetBrains/JetBrainsMonoNerdFont-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono Italic";
	src: url("JetBrains/JetBrainsMonoNerdFont-Italic.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono BoldItalic";
	src: url("JetBrains/JetBrainsMonoNerdFont-BoldItalic.ttf") format('truetype');
}
/*Which Nerd Font*/
.nerd {
	font-family: "Fira";
}

/*Color Definitions*/
:root {
	--bg_dim	: 239, 235, 212;
	--bg0		: 253, 246, 227;
	--bg1		: 244, 240, 217;
	--bg2 		: 239, 235, 212;
	--bg3 		: 230, 226, 204;
	--bg4 		: 224, 220, 199;
	--bg5 		: 189, 195, 175;
	--fg 		: 92, 106, 114;

	--red 		: 248, 85, 82;
	--orange 	: 245, 125, 38;
	--yellow 	: 223, 160, 0;
	--green 	: 141, 161, 1;
	--aqua 		: 53, 167, 124;
	--blue		: 58, 148, 197;
	--purple 	: 223, 105, 186;
	--grey0 	: 166, 176, 160;
	--grey1 	: 147, 159, 145;
	--grey2		: 130, 145, 129;

	--statusline1	: 147, 178, 89;
	--statusline2	: 112, 128, 137;
	--statusline3	: 230, 104, 104;

	--bg_dim_dark	: 35, 42, 46;
	--bg0_dark	: 45, 53, 59;
	--bg5_dark	: 86, 99, 95;
	--fg_dark 	: 211, 198, 170;
	--green_dark	: 167, 192, 128;
	--purple_dark	: 214, 153, 182;
	--blue_dark 	: 127, 187, 179;
	--orange_dark	: 230, 152, 117;
	--red_dark	: 230, 126, 128;
	--aqua_dark	: 131, 192, 146;
}
/* Color classes*/
.white {
	color: rgb(var(--purple_dark));
}
.green {
	color: rgb(var(--green_dark));
}
.red {
	color: rgb(var(--red));
}
.mauve {
	color: rgb(var(--purple));
}
.yellow {
	color: rgb(var(--yellow));
}

/*Other styling elements*/
.titlegrad {
	/*background: linear-gradient(to right, rgb(var(--orange)), rgb(var(--purple)) 50%);*/
	background: rgb(var(--green_dark));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.blink {
  animation: blinker 1s ease-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*Basic Elements*/
h1 { /*Only for the Page Title!*/
	font-family: "JetBrainsMono ExtraBold";
	font-size: 2.63em; /* 60px/16=3.75em */
	line-height: 1.2em;
	margin: 0;
	background-color: rgb(var(--bg_dim_dark));
	/*border-color: rgb(var(--grey1));
	border-style: solid;
	border-radius: 0.5em;
	border-width: 5px;*/

	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1em;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: rgb(var(--fg_dark));
}

h2 {
	font-size: 2em; /* 42px/16=2.63em */
	font-family: "JetBrainsMono Bold";
	font-weight: extrabold;
	line-height: 1.2;
}

h3 {
	font-size: 1.75em; /* 32px/16 = 2em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

h4 {
	font-size: 1.38em; /* 28px/16 = 1.75em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

h5 {
	font-size: 1.25em; /* 22/16 = 1.25em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

h6 {
	font-size: 1em; /* 20px/16 = 1.13em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

p {
	font-size: 1em; /* 16px/16 = 1em */
	color: rgb(var(--fg));
}
.contents {
	border-radius: 0em;
	border-style: dashed;
	border-width:2px;
	border-color: rgb(var(--statusline2));
	background-color: rgb(var(--bg0));
	padding: 1em;
	margin-bottom: 1em;
}
article {
	border-radius: 0em;
	border-style: dashed;
	border-width: 2px;
	border-color: rgb(var(--statusline2));
	background-color: rgb(var(--bg0));
	padding: 1em;
	margin-bottom: 1em;
}

.article a:link {
	color: rgb(var(--green));
	text-decoration: none;
}

.article a:visited {
	color: rgb(var(--green));
	text-decoration: none;
}
.article a:hover {
	color: rgb(var(--aqua));
	text-decoration: none;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
	color: rgb(var(--fg));
}


body {
	position: relative;
	background-color: rgb(var(--bg0_dark));
	color: rgb(var(--fg_dark));
	font-family: "JetBrainsMono Regular";
	margin: 0 auto;
	font-size: 100%;
}
/*Basic Elements - Specific string types*/
code {
	font-family: "Fira Code";
	font-weight: 1em;
	color: rgb(var(--fg));
	background: rgb(var(--bg1));
}
/*Basic Elements - Links*/
a:link {
	color: rgb(var(--green_dark));
	text-decoration: none;
}

a:visited {
	color: rgb(var(--green_dark));
	text-decoration: none;
}
a:hover {
	color: rgb(var(--aqua_dark));
	text-decoration: none;
}


/*Page subdivisions*/
.grid-container {
 	display: grid;
 	grid-template-areas:
 	  'header header header header header header'
 	  'menu main main main right right'
 	  'footer footer footer footer footer footer';
 	gap: 2em;
 	/**background-color: rgb(var(--bg0));*/
 	padding: 0.6em;
}

.grid-container > div {
 	text-align: left;
 	padding: 1em 1em;
}

.item1 {
	grid-area: header;
	background: rgb(var(--bg_dim_dark));
}

.item1 h1, .item1 img {
    display:inline-block;
    vertical-align:middle;
}

.item2 {
	grid-area: menu;
	margin-left: 1em;
	margin-right:1em;
}                      
.item3 {               
	grid-area: main;   
	margin: 0 auto;
}
.item4 {
	grid-area: right;
	margin-right: 1em;
}
.item5 {
	grid-area: footer;
	margin: 1em;
	background: rgb(var(--bg_dim_dark));
	color: rgb(var(--fg_dark));
	border-radius: 0em;
}


/*Sidebar*/
.sidebar {
	font-family: "JetBrainsMono Bold";
	height: 100%;
	margin: 0;
	color: rgb(var(--fg_dark));
}
.sidebar a {
	/*display: block; */
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 0 0.0em 0;
	border-radius: 2em;
	font-size: 1em; 
	font-weight: normal;
	color: rgb(var(--fg_dark));
	text-align: left;
	line-height: 3em;
	white-space: nowrap;
	overflow: hidden; 
}


.sidebar a.active {
	background: rgb(var(--aqua_dark));
	color: rgb(var(--bg_dim_dark));
}
.sidebar a {
	background: rgb(var(--bg0_dark));
}
.sidebar a:hover {
	background: rgb(var(--bg5_dark));
}

.sidebar a.active:hover {
	background-color: rgb(var(--aqua_dark));
}

.sidebar .nerd {
	font-size: 1.56em;
}
/*

.sidebar .home {
	background-color: rgb(var(--statusline1));
	background-color: rgb(var(--orange));
	background-image: linear-gradient(to right, rgb(var(--orange)), rgba(var(--red), 0.7) );
}
.sidebar a.home:hover {
	background-color: rgb(var(--red));
	background-image: linear-gradient(to right, rgba(var(--orange),0.7), rgb(var(--red)));
}

.sidebar .bio {
	background-color: rgb(var(--red));
	background-image: linear-gradient(to right, rgb(var(--red)), rgba(var(--purple), 0.7));
}
.sidebar a.bio:hover {
	background-color: rgb(var(--purple));
	background-image: linear-gradient(to right, rgba(var(--red),0.7), rgb(var(--purple)));
}

.sidebar .research {
	background-color: rgb(var(--purple));
	background-image: linear-gradient(to right, rgb(var(--purple)), rgba(var(--blue), 0.7));
}
.sidebar a.research:hover {
	background-color: rgb(var(--blue));
	background-image: linear-gradient(to right, rgba(var(--purple),0.7), rgb(var(--blue)));
}


.sidebar .about {
	background-color: rgb(var(--aqua));
	background-image: linear-gradient(to right, rgb(var(--aqua)), rgba(var(--green), 0.7));
}
.sidebar a.about:hover {
	background-color: rgb(var(--green));
	background-image: linear-gradient(to right, rgba(var(--aqua),0.7), rgb(var(--green)));
}


.sidebar .blog {
	background-color: rgb(var(--blue));
	background-image: linear-gradient(to right, rgb(var(--blue)), rgb(var(--aqua), 0.7));
}
.sidebar a.blog:hover {
	background-color: rgb(var(--aqua));
	background-image: linear-gradient(to right, rgba(var(--blue),0.7), rgb(var(--aqua)));
}
*/

.feed a {
	font-family: "JetBrainsMono Bold";
	height: 100%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 0 0.5em 0;
	border-radius: 0em;
	font-size: 1em; 
	font-weight: normal;
	color: rgb(var(--bg_dim_dark));
	text-align: right;
	line-height: 3em;
	white-space: nowrap;
	overflow: hidden; 
}
.feed a .nerd {
	font-size: 1.56em;
}

.feed a.atom {
	background-color: rgb(var(--aqua_dark));
	/*background-image: linear-gradient(to right, rgb(var(--aqua)), rgba(var(--blue), 0.7));*/
}
.feed a.atom:hover {
	background-color: rgb(var(--blue_dark));
	/*background-image: linear-gradient(to right, rgba(var(--blue),0.7), rgb(var(--aqua)));*/
}
.feed a.rss {
	background-color: rgb(var(--orange_dark));
	/*background-image: linear-gradient(to right, rgb(var(--orange)), rgba(var(--red), 0.7) );*/
}
.feed a.rss:hover {
	background-color: rgb(var(--red_dark));
	/*background-image: linear-gradient(to right, rgba(var(--orange),0.7), rgb(var(--red)));*/
}

/*.sidebar a:hover {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}*/


/*Max Width for elements*/
@media only screen and (min-width: 1200px) {
	/* For desktop: */
	p {max-width: 70ch;}
	article {max-width: 80ch;}
	.item2 {width: 26ch;}
	.item3 {max-width: 80ch;}
}
@media only screen and (max-width: 1200px) {
	/* For mobile: */
	h1{font-size:2em;}
	p {
		max-width: 70ch;
		display: inline-block;
		word-break:break-word;
	}
	article {max-width: 80ch;}
	.item2 {width: 26ch;}
	.item3 {
		max-width: 80ch;
	}
	.grid-container {
		display: grid;
		grid-template-areas:
		  'header header header header header header'
		  'menu menu menu right right right'
		  'main main main main main main'
		  'footer footer footer footer footer footer';
		gap: 2em;
		/**background-color: rgb(var(--bg0));*/
		padding: 0.6em;
	}
}
@media only screen and (max-width: 700px) {
	h1{font-size:1.38em;}
	h2{font-size:1.38em;}
	h3{font-size:1.38em;}
}
