@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Catamaran|Catamaran:500|Catamaran:600|Catamaran:700|Catamaran:800|Catamaran:900&display=swap");
:root {
	--bw_1		:#11111b;
	--bw_2		:#181825;
	--bw_3		:#1e1e2e;
	--bw_4		:#313244;
	--bw_5		:#45475a;
	--bw_6		:#585b70;
	--bw_7		:#6c7086;
	--bw_8		:#7f849c;
	--bw_9 		:#9399b2;
	--bw_10		:#a6adc8;
	--bw_11 	:#bac2de;
	--bw_12 	:#cdd6f4;

	--lavender 	:#b4befe;
	--blue 		:#89b4fa;
	--saphire 	:#74c7ec;
	--sky 		:#89dceb;
	--teal 		:#94e2d5;
	--green 	:#a6e3a1;
	--yellow 	:#f9e2af;
	--peach 	:#fab387;
	--maroon 	:#eba0ac;
	--red		:#f38ba8;
	--mauve 	:#cba6f7;
	--pink 		:#f5c2e7;
	--flamingo	:#f2cdcd;
	--rosewater	:#f5e0dc;
}

@font-face {
	font-family: "Fira";
	src: url("FiraCode/Fira\ Code\ Bold\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Fira";
	src: url("FiraCode/Fira\ Code\ Regular\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	position: absolute;
	background-color: var(--bw_3);
	color: var(--bw_12);
	font-family: "Fira Sans";
	font-weight: normal;
}

.grid-container {
 	display: grid;
 	grid-template-areas:
 	  'header header header header header header'
 	  'menu main main main right right'
 	  'menu footer footer footer footer footer';
 	gap: 2em;
 	background-color: var(--bw_3);
 	padding: 0.6em;
}

.grid-container > div {
 	text-align: left;
 	padding: 1em 1em;
}

.item1 {
	grid-area: header;
	width: 100%;
}

.item1 h1, .item1 img {
    display:inline-block;
    vertical-align:middle;
}

.item2 {
	grid-area: menu;
	width: 100%;
}
.item3 {
	grid-area: main;
	width: 100%;
	min-width: 80em;
}
.item4 {
	grid-area: right;
	width:	100%;
}
.item5 {
	grid-area: footer;
	background-color: var(--bw_1);
	width: 80%;
}


.nerd {
	font-size: 1.56em;
	font-family: "Fira";
}

h1 {
	font-family: "Catamaran";
	font-weight: "900";
	font-size: 3.75em; /* 60px/16=3.75em */
	line-height: 1em;
	background: linear-gradient(to right, var(--peach), var(--mauve) 20%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin: 0;
}

h2 {
	font-size: 2.63em; /* 42px/16=2.63em */
	font-family: "Catamaran";
	font-weight: "800";
	line-height: 1.2;
}

h3 {
	font-size: 2em; /* 32px/16 = 2em */
	font-family: "Catamaran";
	font-weight: "700";
	line-height: 1.2;
}

h4 {
	font-size: 1.75em; /* 28px/16 = 1.75em */
	font-family: "Catamaran";
	font-weight: "600";
	line-height: 1.2;
}

h5 {
	font-size: 1.38em; /* 22/16 = 1.25em */
	font-family: "Catamaran";
	font-weight: "600";
	line-height: 1.2;
}

h6 {
	font-size: 1.25em; /* 20px/16 = 1.13em */
	font-family: "Catamaran";
	font-weight: "600";
	line-height: 1.2;
}

p {
	font-size: 1em; /* 16px/16 = 1em */
	color: var(--bw_12);
}


a:link {
	color: var(--green);
	text-decoration: none;
}

a:visited {
	color: var(--green);
	text-decoration: none;
}
a:hover {
	color: var(--red);
	text-decoration: none;
}

.sidebar {
	font-family: "Fira";
	height: 100%;
}
.sidebar a {
	display: block;
	padding: 0.6em 0.6em;
	margin: 0 0 0.5em 0;
	border-radius: 1em;
	font-size: 1.25em; 
	font-weight: normal;
	color: var(--bw_1);
	text-align: center;
	background: linear-gradient(to right, var(--saphire), var(--mauve));
}

.sidebar a:hover {
	background-color: var(--mauve);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.sidebar a.active {
	background: linear-gradient(to right, var(--saphire), var(--green));
}

.sidebar a.active:hover {
	background-color: var(--green);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}


/*
.sidebar a.home {
	background: linear-gradient(to right, var(--lavender), var(--mauve));
}
.sidebar a.home:hover {
	background-color: var(--mauve);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.sidebar a.bio {
	background: linear-gradient(to right, var(--yellow), var(--peach));
}
.sidebar a.bio:hover {
	background-color: var(--yellow);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.sidebar a.research {
	background: linear-gradient(to right, var(--teal), var(--green));
}
.sidebar a.research:hover {
	background-color: var(--green);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.sidebar a.about {
	background: linear-gradient(to right, var(--maroon), var(--red));
}
.sidebar a.about:hover {
	background-color: var(--red);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.sidebar a.blog {
	background: linear-gradient(to right, var(--saphire), var(--sky));
}
.sidebar a.blog:hover {
	background-color: var(--sky);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}
*/

article {
	vertical-align: middle;
	max-width: 70em;
}
