/*Fonts*/
@font-face {
	font-family: "Fira";
	src: url("FiraCode/Fira\ Code\ Bold\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Fira";
	src: url("FiraCode/Fira\ Code\ Regular\ Nerd\ Font\ Complete.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "JetBrainsMono Regular";
	src: url("JetBrains/JetBrainsMonoNerdFont-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono ExtraBold";
	src: url("JetBrains/JetBrainsMonoNerdFont-ExtraBold.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono Bold";
	src: url("JetBrains/JetBrainsMonoNerdFont-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono Italic";
	src: url("JetBrains/JetBrainsMonoNerdFont-Italic.ttf") format('truetype');
}
@font-face {
	font-family: "JetBrainsMono BoldItalic";
	src: url("JetBrains/JetBrainsMonoNerdFont-BoldItalic.ttf") format('truetype');
}
/*Which Nerd Font*/
.nerd {
	font-family: "Fira";
}

/*Color Definitions*/
:root {
	--crust		: 17, 17, 27;
	--mantle	: 24, 24, 37;
	--base		: 30, 30, 46;
	--white 	: 205, 214, 244;

	--lavender 	: 180, 190, 254;
	--blue 		: 137, 180, 250;
	--saphire 	: 116, 199, 236;
	--sky 		: 137, 220, 235;
	--teal 		: 148, 226, 213;
	--green 	: 166, 227, 161;
	--yellow 	: 249, 226, 175;
	--peach 	: 250, 179, 135;
	--maroon 	: 235, 160, 172;
	--red		: 243, 139, 168;
	--mauve 	: 203, 166, 247;
	--pink 		: 245, 194, 231;
	--flamingo	: 242, 205, 205;
	--rosewater	: 245, 224, 220;
}
/* Color classes*/
.white {
	color: rgb(var(--white));
}
.green {
	color: rgb(var(--green));
}
.red {
	color: rgb(var(--red));
}
.mauve {
	color: rgb(var(--mauve));
}
.yellow {
	color: rgb(var(--yellow));
}

/*Other styling elements*/
.titlegrad {
	background: linear-gradient(to right, rgb(var(--peach)), rgb(var(--mauve)) 50%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.blink {
  animation: blinker 1s ease-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*Basic Elements*/
h1 { /*Only for the Page Title!*/
	font-family: "JetBrainsMono ExtraBold";
	font-size: 2.63em; /* 60px/16=3.75em */
	line-height: 1.2em;
	margin: 0;
	background-color: rgb(var(--base));
	/*border-color: rgb(var(--lavender));
	border-style: solid;
	border-radius: 0.5em;
	border-width: 5px;*/

	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1em;

}

h2 {
	font-size: 2em; /* 42px/16=2.63em */
	font-family: "JetBrainsMono Bold";
	font-weight: extrabold;
	line-height: 1.2;
}

h3 {
	font-size: 1.75em; /* 32px/16 = 2em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

h4 {
	font-size: 1.38em; /* 28px/16 = 1.75em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

h5 {
	font-size: 1.25em; /* 22/16 = 1.25em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

h6 {
	font-size: 1em; /* 20px/16 = 1.13em */
	font-family: "JetBrainsMono Bold";
	line-height: 1.2;
}

p {
	font-size: 1em; /* 16px/16 = 1em */
	color: rgb(var(--white));
}
article {
	border-radius: 1em;
	border-style: dashed;
	border-width: 2px;
	border-color: rgb(var(--lavender));
	background-color: rgb(var(--base));
	padding: 1em;
	margin-bottom: 1em;
	min-width: 50ch;
}
body {
	position: relative;
	background-color: rgb(var(--base));
	color: rgb(var(--white));
	font-family: "JetBrainsMono Regular";
	margin: 0 auto;
	font-size: 1em;
}
/*Basic Elements - Specific string types*/
code {
	font-family: "Fira Code";
	font-weight: 1em;
	color: rgb(var(--crust));
	background: rgb(var(--white));
}
/*Basic Elements - Links*/
a:link {
	color: rgb(var(--mauve));
	text-decoration: none;
}

a:visited {
	color: rgb(var(--mauve));
	text-decoration: none;
}
a:hover {
	color: rgb(var(--peach));
	text-decoration: none;
}


/*Page subdivisions*/
.grid-container {
 	display: grid;
 	grid-template-areas:
 	  'header header header header header header'
 	  'menu main main main right right'
 	  'footer footer footer footer footer footer';
 	gap: 2em;
 	/**background-color: rgb(var(--base));*/
 	padding: 0.6em;
}

.grid-container > div {
 	text-align: left;
 	padding: 1em 1em;
}

.item1 {
	grid-area: header;
	min-width: 35ch;
}

.item1 h1, .item1 img {
    display:inline-block;
    vertical-align:middle;
}

.item2 {
	grid-area: menu;
	margin-left: 1em;
	margin-right:1em;
	min-width: 26ch;
}
.item3 {
	grid-area: main;
	margin: 0 auto;
}
.item4 {
	grid-area: right;
	margin-right: 1em;
	width: 20ch;
}
.item5 {
	grid-area: footer;
	background-color: rgb(var(--base));
	margin: 1em;
}


/*Sidebar*/
.sidebar {
	font-family: "JetBrainsMono Bold";
	height: 100%;
	margin: 0;
}
.sidebar a {
	/*display: block; */
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 0 0.5em 0;
	border-radius: 2em;
	font-size: 1em; 
	font-weight: normal;
	color: rgb(var(--crust));
	text-align: left;
	line-height: 3em;
}


/*.sidebar a.active {
	background: linear-gradient(to right, var(--saphire), rgb(var(--green)));
}

.sidebar a.active:hover {
	background-color: rgb(var(--green));
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}*/
.sidebar .nerd {
	font-size: 1.56em;
}

.sidebar .home {
	background-color: rgb(var(--peach));
	background-image: linear-gradient(to right, rgb(var(--peach)), rgba(var(--red), 0.7) );
}
.sidebar a.home:hover {
	background-color: rgb(var(--red));
	background-image: linear-gradient(to right, rgba(var(--peach),0.7), rgb(var(--red)));
}

.sidebar .bio {
	background-color: rgb(var(--maroon));
	background-image: linear-gradient(to right, rgb(var(--maroon)), rgba(var(--mauve), 0.7));
}
.sidebar a.bio:hover {
	background-color: rgb(var(--mauve));
	background-image: linear-gradient(to right, rgba(var(--maroon),0.7), rgb(var(--mauve)));
}

.sidebar .research {
	background-color: rgb(var(--mauve));
	background-image: linear-gradient(to right, rgb(var(--mauve)), rgba(var(--lavender), 0.7));
}
.sidebar a.research:hover {
	background-color: rgb(var(--lavender));
	background-image: linear-gradient(to right, rgba(var(--mauve),0.7), rgb(var(--lavender)));
}


.sidebar .about {
	background-color: rgb(var(--teal));
	background-image: linear-gradient(to right, rgb(var(--teal)), rgba(var(--green), 0.7));
}
.sidebar a.about:hover {
	background-color: rgb(var(--green));
	background-image: linear-gradient(to right, rgba(var(--teal),0.7), rgb(var(--green)));
}


.sidebar .blog {
	background-color: rgb(var(--blue));
	background-image: linear-gradient(to right, rgb(var(--blue)), rgb(var(--saphire), 0.7));
}
.sidebar a.blog:hover {
	background-color: rgb(var(--saphire));
	background-image: linear-gradient(to right, rgba(var(--blue),0.7), rgb(var(--saphire)));
}

.feed a {
	font-family: "JetBrainsMono Bold";
	height: 100%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 0 0.5em 0;
	border-radius: 2em;
	font-size: 1em; 
	font-weight: normal;
	color: rgb(var(--crust));
	text-align: right;
	line-height: 3em;
}
.feed a .nerd {
	font-size: 1.56em;
}

.feed a.atom {
	background-color: rgb(var(--teal));
	background-image: linear-gradient(to right, rgb(var(--teal)), rgba(var(--blue), 0.7));
}
.feed a.atom:hover {
	background-color: rgb(var(--blue));
	background-image: linear-gradient(to right, rgba(var(--blue),0.7), rgb(var(--teal)));
}
.feed a.rss {
	background-color: rgb(var(--peach));
	background-image: linear-gradient(to right, rgb(var(--peach)), rgba(var(--red), 0.7) );
}
.feed a.rss:hover {
	background-color: rgb(var(--red));
	background-image: linear-gradient(to right, rgba(var(--peach),0.7), rgb(var(--red)));
}

/*.sidebar a:hover {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}*/


/*Max Width for elements*/
@media only screen and (min-width: 1200px) {
	/* For desktop: */
	p {max-width: 70ch;}
	article {max-width: 80ch;}
	.item2 {width: 26ch;}
	.item3 {max-width: 80ch;}
}
